<div class="row row-1">
  <button
    class="btn-letter"
    *ngFor="let letter of ['Q', 'W', 'E', 'R', 'T', 'Y', 'U', 'I', 'O', 'P']"
    (click)="getKey(letter)"
  >
    {{ letter }}
  </button>
</div>
<div class="row row-2">
  <button
    class="btn-letter"
    *ngFor="let letter of ['A', 'S', 'D', 'F', 'G', 'H', 'J', 'K', 'L']"
    (click)="getKey(letter)"
  >
    {{ letter }}
  </button>
  <button class="btn-backspace" (click)="getKey('Backspace')">Del</button>
</div>
<div class="row row-3">
  <button
    class="btn-letter"
    *ngFor="let letter of ['Z', 'X', 'C', 'V', 'B', 'N', 'M']"
    (click)="getKey(letter)"
  >
    {{ letter }}
  </button>

  <button class="btn-enter" (click)="getKey('Enter')">Enter</button>
</div>
