main {
  // width: 400px;

  button {
    margin: 3px;
    height: 40px;
  }
  .btn-letter {
    width: 50px;
  }
  .btn-enter {
    width: 120px;
  }

  // display: flex;

  // .row{

  // }

  .row-2 {
    margin-left: 10px;
  }
  .row-3 {
    margin-left: 20px;
  }
}
