nav {
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  .status {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    height: 40px;
    border-radius: 10px;
    // background-color: black;
    min-width: 300px;
    color: white;
  }
}
