.board {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}

input {
  width: 63px;
  height: 63px;
  margin: 3px;
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
}

@media (max-width: 630px) {
  input {
    width: 12.5vw;
    height: 12.5vw;
  }
}
